@import "tailwindcss";
@import "flowbite";

@theme {
  --color-primary-blue: #0089bf;
  --color-secondary-blue: #403e57;
  --color-main-dark: #14151c;
  --color-secondary-dark: #1d1e28;
  --color-primary-gray: #3b394d;
  --color-secondary-gray: #2f313d;
  /* --color-primary-gray: #444444; */
  --color-search-bar: #2d2d2d;
  --color-gold-accent: #e0b831;
  --color-primary-red: #7e1522;
  --color-primary-green: #8fe33b;
  --color-secondary-green: #3b5027;
}

input[type='email'], input[type='password'] {
  @apply px-3 py-3 border border-gray-400 rounded-sm w-full focus:outline-none focus:ring-secondary-blue;
}

input[type='checkbox'] {
  @apply focus:outline-none focus:ring-0 border-gray-300 bg-gray-300;
}

.signin-btn {
  @apply w-full rounded-sm py-3 cursor-pointer hover:bg-secondary-blue bg-primary-blue text-white ;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-semibold text-gray-300;
}

p {
  @apply text-gray-400;
}