@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=ZCOOL+KuaiLe&display=swap');
@import "tailwindcss";
@import "flowbite";

@theme {
  --color-primary-blue: #0089bf;
  --color-secondary-blue: #403e57;
  --color-main-dark: #14151c;
  --color-secondary-dark: #1d1e28;
  --color-primary-gray: #3b394d;
  --color-secondary-gray: #2f313d;
  --color-search-bar: #2d2d2d;
  --color-gold-accent: #e0b831;
  --color-secondary-gold: #5e4f25;
  --color-primary-red: #7e1522;
  --color-secondary-red: #521e2a;
  --color-primary-green: #8fe33b;
  --color-secondary-green: #3b5035;
}

body {
  font-family: 'Saira', sans-serif;
  overflow-x: hidden;
}

.aside {
  @apply fixed;
}

.tyms {
  font-family: 'Noto sans';
}

input[type='email'], input[type='password'] {
  @apply px-3 py-3 border border-gray-400 rounded-sm w-full focus:outline-none focus:ring-secondary-blue;
}

input[type='checkbox'] {
  @apply focus:outline-none focus:ring-0 border-gray-300 bg-gray-300;
}

.signin-btn {
  @apply w-full rounded-sm py-3 cursor-pointer hover:bg-secondary-blue bg-primary-blue text-white ;
}

.card {
  @apply bg-secondary-dark rounded-xl border border-gray-600;
}

.card p {
  @apply text-[13px] text-stone-300;
}

.pill {
  @apply px-2 py-1 rounded-full bg-secondary-gray border border-gray-600;
}

.links .pill {
  @apply text-[12px] mt-2 truncate;
}

h1 {
  @apply font-semibold;
}

h2, h3, h4, h5, h6 {
  @apply font-semibold;
}

p {
  @apply text-gray-500;
}

td {
  @apply px-2 py-1;
}

th {
  @apply px-2 py-1 font-normal;
}

tr:nth-child(odd) {
  @apply bg-primary-gray;
}

tr:nth-child(even) {
  @apply bg-secondary-dark;
}

.gold-button {
  @apply px-2 py-1 bg-gold-accent text-main-dark hover:border hover:border-gold-accent rounded-md hover:text-gold-accent hover:bg-main-dark hover:cursor-pointer transition duration-200;
}

.gold-accent-btn {
  @apply px-2 py-1 bg-main-dark text-gold-accent border border-gold-accent rounded-md hover:bg-gold-accent hover:text-main-dark cursor-pointer transition duration-200 font-bold;
}

.cancel-btn {
  @apply px-2 py-1 bg-primary-red text-gray-200 rounded-md hover:bg-red-800 cursor-pointer font-bold;
}

.greyed-btn {
  @apply px-2 py-1 bg-secondary-gray text-gray-500 rounded-md cursor-pointer hover:bg-primary-gray font-bold;
}

.green-btn {
  @apply px-2 py-1 bg-secondary-green text-gray-200 rounded-md hover:bg-green-800 cursor-pointer font-bold;
}

.gold-linear-btn {
  @apply px-2 py-1 rounded-sm cursor-pointer border border-gold-accent hover:border-gray-200 text-gray-200 bg-linear-to-r from-secondary-gold to-primary-gray;
}

.cancel-linear-btn {
  @apply px-2 py-1 rounded-sm cursor-pointer border border-primary-red hover:border-gray-200 text-gray-200 bg-linear-to-r from-secondary-red to-secondary-gray;
}

.green-linear-btn {
  @apply px-2 py-1 rounded-sm cursor-pointer border border-primary-green hover:border-gray-200 text-gray-200 bg-linear-to-r from-secondary-green to-secondary-gray;
}